*{
    margin: 0;
    padding: 0;
    font-family: 'Castoro', serif;
}
html{
    box-sizing: border-box;
    font-size: 62,5%;
    scroll-behavior: smooth;
}

/* NAV */

nav{
    display: flex;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6e6e6e;
    z-index: 3;
}
.nav-list{
    display: flex;
    margin: 30px;
    font-size: 20px;
}
.nav-list a:hover{
    background-color: #d9d9d9;
    opacity: 0.5;
    margin: 0;
    color: black;  
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;  
    padding: 30px;
    letter-spacing: 2px;
}
#logo{
    position: fixed;
    left: 15px;
    top: 15px;
}

/* WELCOME */

#welcome-section{
    /* background-color: rgb(151, 172, 151); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    background-image: url('../images/woma.png');
    background-repeat: no-repeat;
}
#name,
#name2{
    color: rgb(155, 59, 59);
    letter-spacing: 2px;
    padding: 0px;
    margin-left: 60px;
    margin-top: 10px;
    z-index: 3;
}
#name{
    font-size: 45px;
    text-shadow: 1px 1px rgb(24, 12, 12);
}
#name2{
    font-size: 15px;
}
/* PROJECTS */

.projects-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(190, 188, 188);
    width: 100%;
    height: 100vh;
    align-items: center;
}
.projects-section h2{
    font-size: 25px;
    padding: 5px;
    margin-top: 80px;
    color: black;
}
.project-title{
    font-size: 20px;
    
}
.project-image{
    border-radius: 50px;
    width: 300px;
    height: 300px;
    padding-bottom: 0px;
}

/* CONTACT */

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(163, 135, 135);
    align-items: center;
    width: 100%;
    height: 80vh;
    text-align: center;
}
.contact-section-header{
    height: 160px;
    letter-spacing: 3px; 
    padding: 0;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 15px;
}
.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    height: 130px;
    width: 60%;
    font-size: 20px;
    word-spacing: 2px;
}
.contact-details{
    transition: transform 0.2s linear;
}
.contact-details:hover{
    transform: translateY(10px);
} 
footer{
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    background-color:  rgb(163, 135, 135);
    border-top: 5px  #6e6e6e solid;
    padding: 3px;
}
footer > p{
    padding: 20px;
}


/* media query */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
    .nav{
        justify-content: center;
    }
    .nav-list{
        font-size: 15px;
        margin-top: 50px;
        margin-bottom: 5px;
        padding: 10px;
        z-index: 1;
    }
    #logo{
        position: none;
        padding: 0px;
        margin: 0px;
    }
  }
  @media (max-width: 28.75em) {
    #name{
        font-size: 20px;
    }
    #name2{
        font-size: 15px;
    }
    #welcome-section{
        background-size: auto;
    }
  }
  @media (max-width: 28.75em) {
    .project-section{
        background-size: auto;
      }
    .projects-section h2{
        font-size: 20px;
    }
    .project-title{
        font-size: 15px;
    }
    .project-image{
        border-radius: 50px;
        width: 250px;
        height: 250px;
    }
  }
  @media (max-width: 28.75em) {
    .contact-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgb(163, 135, 135);
        align-items: center;
        width: 100%;
        height: 90vh;
        text-align: center;
        background-size: auto;
    }
    .contact-section-header{
        height: 160px;
        letter-spacing: 3px; 
        padding: 0;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 10px;
    }
    .contact-links{
        flex-direction: column;
        padding: 0px;
        height: 130px;
        width: 100%;
        font-size: 10px;
        word-spacing: 0px;
    }
    footer{
        font-size: 12px;
        border-top: 3px  #6e6e6e solid;
        padding: 0px;
    }
    footer > p{
        padding: 10px;
    }
  }

  